header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 137px;
  background: #ffffff;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 95px 0 150px;
  width: 100%;
  z-index: 99;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.logo img {
  width: 51px;
  height: 72px;
}

.logo span {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
}

.logo span a,
.nav-item:first-child {
  background: linear-gradient(180.61deg, #98d67d 0.45%, #569f36 99.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-nav-item:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
}
span.underline {
  position: relative;
  content: "";
  width: 105px;
  height: 7px;
  top: 9px;
  background: linear-gradient(180.61deg, #98d67d 0.45%, #569f36 99.39%);
  box-shadow: 0px 1px 20px rgba(134, 180, 114, 0.69);
  border-radius: 26px;
  z-index: 999;
}

.header-nav-item {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  margin: 0 50px;

  color: #000000;
}

.header-bg-left-img,
.header-bg-right-img1,
.header-bg-right-img2 {
  position: absolute;
}

.header-bg-left-img {
  width: 107px;
  height: 124px;
  left: 0px;
  top: 0px;
  z-index: 1;
}

.header-bg-right-img1 {
  width: 118px;
  height: 119px;
  right: 67px;
  top: 0px;
  opacity: 0.5;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: 20;
}

.header-bg-right-img2 {
  width: 107.25px;
  height: 114.06px;
  right: -2px;
  top: 6.4px;
  opacity: 0.5;
  transform: matrix(-0.47, 0.88, 0.88, 0.47, 0, 0);
  z-index: 10;
}
